{
    "presets": [["@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": 3
    }]]
  }
// {
//   "presets": [
//     [
//       "@babel/preset-env",
//       {
//         "useBuiltIns": "usage",
//         "corejs": 3
//       }
//     ]
//   ],
//   "env": {
//     "test": {
//       "presets": [
//         [
//           "@babel/presets-env",
//           {
//             "targets": {
//               "node": "current"
//             }
//           }
//         ]
//       ]
//     }
//   }
// }